@import "compass_twitter_bootstrap";
body {
    @media screen and (max-width: 800px) {
        padding-top: 120px !important;
        padding-bottom: 40px;
    }
}

@import "compass_twitter_bootstrap/responsive";
.navbar-form > .btn-group {
    margin-left: 5px;
}
.navbar {
    position: fixed !important;
}
